.user_form_list_container {
  h3,
  h4 {
    text-align: start;
  }
}

.passenger_form {
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 15px 30px;
  padding-top: 30px;
  display: grid;
  grid-template-columns: 1fr 5fr;
  align-items: center;
  margin-bottom: 20px;
  box-shadow: 0 7px 4px rgba(0, 0.2, 0.1, 0.2);
}
